---
import BaseLayout from "../layouts/BaseLayout.astro";
import BrandIntro from "../components/BrandIntro.astro";
import Header from "../components/Header.astro";
import HeroCinematic from "../components/HeroCinematic.astro";
import TrustBar from "../components/TrustBar.astro";
import NarrativeSection from "../components/NarrativeSection.astro";
import ProductCatalog from "../components/ProductCatalog.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ReservationBuilder from "../components/ReservationBuilder.astro";
import LimitedSlots from "../components/LimitedSlots.astro";
import Gallery from "../components/Gallery.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import InstagramCTA from "../components/InstagramCTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <BrandIntro />
  <Header />
  <main id="contenido">
    <HeroCinematic />
    <TrustBar />
    <NarrativeSection />
    <ProductCatalog />
    <ExperienceSection />
    <ReservationBuilder />
    <LimitedSlots />
    <Gallery />
    <Testimonials />
    <FAQ />
    <InstagramCTA />
  </main>
  <Footer />
</BaseLayout>
